<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.one">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="서.자.모"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ReservationStore" />
        <activity android:name=".Reservation" />
        <activity android:name=".ReviewStore" />
        <activity android:name=".Review"/>
        <activity android:name=".House" />
        <activity android:name=".ppt34MainActivity" />
        <activity android:name=".StartWelcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>